page-home {
    background-color: $content-background-color;
}

.thumbnail {
    margin: 0px 16px 0px 0 !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.item-inner {
    border-bottom: 0px solid #dedede !important;
}