<!--
  Generated template for the CharacterDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{character?.name}}'s details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content color="background" class="black-background">
  <div class="item item-image">
    <img *ngIf="character" [src]="character?.thumbnail.path + '.' + character?.thumbnail.extension">
  </div>

  <ion-card *ngIf="character && character.description">

    <ion-card-content>
      {{character?.description}}
    </ion-card-content>

  </ion-card>
  
  <ion-list *ngIf="character" color="background">
    <ion-item color="background">
      <ion-label>Comics</ion-label>
      <ion-badge item-right>{{character?.comics.available}}</ion-badge>
    </ion-item>

    <ion-item color="background">
      <ion-label>Series</ion-label>
      <ion-badge item-right>{{character?.series.available}}</ion-badge>
    </ion-item>

    <ion-item color="background">
      <ion-label>Stories</ion-label>
      <ion-badge item-right>{{character?.stories.available}}</ion-badge>
    </ion-item>

    <ion-item color="background">
      <ion-label>Events</ion-label>
      <ion-badge item-right>{{character?.events.available}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
